@{
    ViewData["Title"] = "Home Page";
}
<h1>Focos das últimas 48h</h1>
<h3>Total de @ViewBag.TotalFocos detectados</h3>
<div class="d-flex justify-content-center" id="mapFront"></div>
@Html.Raw(ViewBag.mapa)
