@{
    Layout = "_Layout";
}
<h1 class="titulo-pagina">Sobre</h1>

<div class="row justify-content-evenly" style="margin-bottom: 50px;">
    <div class="col-4">
        <img src="~/images/ifsp-small.png" class="logo mx-auto" alt="IFSP Catanduva">
        <h4 class="card-title">IFSP, campus Catanduva</h4>
        <p class="card-text">Esta aplicação é um dos produtos resultantes dos projetos de Iniciação
            Científica propostos pelos docentes Luis Hideo Vasconcelos Nakamura e Daniel Corrêa Lobato,
            e realizados pelos discentes Emerson Nogueira, Gabriel Souto Ferrante e Marlon Jorandi do
            curso de Tecnologia em Análise e Desenvolvimento de Sistemas do <a href="https://www.ifsp.edu.br/" target="_blank">Instituto Federal de Educação, Ciência e Tecnologia de São Paulo</a> - <a href="https://ctd.ifsp.edu.br/" target="_blank">Campus Catanduva</a></p>
    </div>
    <div class="col-4">
        <img src="~/images/pmasp-small.png" class="logo mx-auto" alt="Polícia Militar Ambiental de São Paulo" />
            <h4 class="card-title">Polícia Militar Ambiental de São Paulo</h4>
            <p class="card-text">
                Maior força policial estadual voltada à proteção da natureza da América Latina,
                é uma das unidades especializadas da Polícia Militar do Estado de São Paulo que
                atua nos 645 municípios e em todo o litoral, em 100 unidades de atendimento integradas.
                Conta com recursos de monitoramento por satélites que monitoram as regiões de
                interesse e locais de difícil acesso. Atua ainda de maneira especial nas regiões
                de relevante interesse ambiental, como nas Unidades de Conservação do Estado,
                que juntas somam mais de 760 mil hectares.
            </p>
            <a href="https://www.policiamilitar.sp.gov.br/unidades/ambiental/index.html" target="_blank" class="btn btn-primary">Portal</a>
    </div>
</div>
<div class="row justify-content-evenly">
    <div class="col-4">
        <img src="~/images/queimadas-small.png" class="logo mx-auto" alt="Programa Queimadas, INPE" />
            <h4 class="card-title">Programa Queimadas INPE</h4>
            <p class="card-text">Os dados utilizados por esta aplicação são produzidos pelo Portal do Monitoramento de Queimadas e Incêndios Florestais do Instituto Nacional de Pesquisas Espaciais (INPE) e estão disponíveis no portal.</p>
            <a href="http://queimadas.dgi.inpe.br/queimadas/portal" target="_blank" class="btn btn-primary">Portal</a>
    </div>
</div>
    

